@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins';
}
*, *::before, *::after {
    box-sizing: border-box;
  }

.container{
    
} 

#nav-bar{
    z-index: 3;
    background-color: white;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    ul{
        width: 100%;
        padding: 1em 0.5em;
        display: flex;
        justify-content:space-around;
        font-size: 0.8em;
    }
}

section{
    color: #fafafa;
    padding: 2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position:center;
    >div{
        margin: 1em 0 1em 0;
    }
}



#welcome-section{
    justify-content: center;
    color:darkslategray;
}
#info-section{
    padding-top: 4em;
    background-image: url("https://i.imgur.com/DUuy2W5.jpg");
    .estudios{
        .titulos{ 
            .certificados{
                img{
                    width: 70vw;
                }
                .carousel {
                    position:relative;
                  }
                  .carousel__item {
                    display: none;
                    width: 70vw;   
                  }
                  .carousel__item--selected {
                    display: block;
                  }
                  .carousel__nav {
                    width: 100%;
                    position: absolute;
                    bottom:0;
                    left: 0;
                  }
                  .carousel__button {
                    width: 10px;
                    height: 2px;
                    display:inline-block;
                    background: rgba(255, 255, 255, 0.5);
                    margin: 0 5px;
                    cursor: pointer;
                  }
                  .carousel__button--selected {
                    background: rgba(255, 255, 255, 0.8);
                  }
                  .carousel-button{
                    height: 100%;
                    position: absolute;
                    z-index: 2;
                    background: none;
                    border: none;
                    top:50%;
                    transform:translateY(-50%);
                    color:rgba(255, 255, 255, 0.8);
                    cursor: pointer;
                    border:none;
                    padding: 0 1rem;
                    background-color: rgba(0,0,0,0.1);
                    &:hover{
                        background: rgba(255, 255, 255, 0.5);
                    }
                    &.prev{
                        left: 0;
                    }
                    &.next{
                        right:0;  
                    }
                  }
                  
            }
        }
    }
    #knowledge{
        display: flex;
        flex-direction: column;
        .knowDiv{
            h3{
                margin-bottom: 1em;
            }
            p{
                font-size: 1em;
                font-weight: 500;
                margin-bottom: 1em;
            }
            .knowContainer{
                margin: 0.5em 0 1.5em 0;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                .knowCards{
                    width: 50%;
                    margin-bottom: 1em;
                    img{
                        width: 50px; 
                    }
                 }
            }
        }
    }
}
#projects-section{
    background-image: url("https://i.imgur.com/uLjLpf5.jpg");
    h3{
        
        font-weight: 500;
        a{
            font-weight: 900;
            text-decoration:underline;
            &:visited{
                color: #fafafa;
            }
        }
    }
}
#contact-section{
    background-image:url("https://i.imgur.com/XoWGuWc.jpg");
    .knowContainer{
        margin: 0.5em 0 1.5em 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        .knowCards{
            width: 50%;
            margin-bottom: 1em;
            img{
                width: 50px; 
            }
         }
    }
}


@media screen and (min-width:"768px") {

}